[build]
publish = "public"

[build.environment]
HUGO_VERSION = "0.115.0"


# adding in headers to prevent clickjacking
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
