.galleri {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.artifact {
  border: 0;
  margin: 12px;
  margin-bottom: 14px;
  padding: 1.43 3%;
  width: 18rem;
  p {
    // font-family: Lato;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.3rem;
  }
}

.logo {
  font-family: lato;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

//  Designed for Xerox - HVI-B/0.439

.printlabels {
  margin: 0;
  padding: 0;
  margin-top: 9mm;
  margin-left: 6mm;
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 180mm;
  font-size: 14px;
  background-color: white;

  .dummylabel {
    visibility: hidden;
  }

  .label {
    border: 1px solid rgb(255, 255, 255);
    width: 90mm;
    padding-left: 10mm;
    padding-top: 14mm;
    padding-bottom: 5mm;

    p {
      line-height: 1.2rem;
      margin-bottom: 2px;
    }

    .bigspace {
      margin-top: 3.5mm;
      padding-bottom: 10px;
    }

    .finalspace {
      margin-top: 0cm;
    }
  }
}

.biography {
  display: flex;
  p {
    line-height: 1.2rem;
  }
  .picture {
    margin-right: 30px;
  }
}

.footer {
  margin: 10px auto;
  text-align: center;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}
