$primary-font: 'Open Sans', sans-serif;
$header-font: 'Lato', sans-serif;
$link-bl: #283618;

body {
  font-family: $primary-font;
}

a,
a:visited {
  text-decoration: none;
  color: $link-bl;
}

a:hover {
  opacity: 0.5;
}

.galleri {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.artifact {
  border: 0;
  margin: 12px;
  margin-bottom: 14px;
  padding: 1.43 3%;
  width: 22rem;
  p {
    // font-family: Lato;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.3rem;
  }
}

.logo {
  font-family: lato;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

//  Designed for Xerox - HVI-B/0.439

.printlabels {
  margin: 0;
  padding: 0;
  margin-top: 9mm;
  margin-left: 6mm;
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 180mm;
  font-size: 14px;
  background-color: white;

  .dummylabel {
    visibility: hidden;
  }

  .label {
    border: 1px solid rgb(255, 255, 255);
    width: 90mm;
    padding-left: 10mm;
    padding-top: 14mm;
    padding-bottom: 5mm;

    p {
      line-height: 1.2rem;
      margin-bottom: 2px;
    }

    .bigspace {
      margin-top: 3.5mm;
      padding-bottom: 10px;
    }

    .finalspace {
      margin-top: 0cm;
    }
  }
}

.biography {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;

  .picture {
    //   width: 322px;
    margin-bottom: 10px;
    //    img {
    //      margin-right: 30px;
    //    }
  }
}

.footer {
  margin: 20px auto;
  text-align: center;
}

// Customized brand

.la-logo {
  font-family: 'Lato';
  font-size: 76px;
  font-weight: 300;
  color: rgba($color: #000000, $alpha: 0.55);
}

h1,
h2 {
  font-family: 'Lato';
  color: rgba($color: #000000, $alpha: 0.55);
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

.la-logo {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 24px;
  color: rgba($color: #000000, $alpha: 0.55);
}

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
@media (min-width: 576px) {
  .la-logo {
    font-size: 32px;
  }
}

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
@media (min-width: 768px) {
  .la-logo {
    font-size: 60px;
  }
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }
@media (min-width: 992px) {
  .la-logo {
    font-size: 76px;
  }
}

// X-Large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @include media-breakpoint-up(xxl) { ... }
