{{ $artifact := 0 }}

<div class="artifactList">
  <h1>Lisbeth Aggerbeck Woll</h1>

  <p>
    Mobil: 40 41 21 09<br />
    lisbeth@woll.dk<br />
    lisbethaggerbeck.dk<br />
    instagram.com/lisbethaggerbeck
  </p>

  {{ with site.Data.udstilling }}
    <h1>Værkliste</h1>
    <p>Udstilling i {{ .location }}, {{ .period }}</p>

    <table style="@media print { width: 100%; }">
    {{ if gt (len .painting) 0 }}
      <tr><td colspan="3"><h2>Malerier</h2></td></tr>
      {{ range $i, $page := where site.AllPages "Params.medie" "painting" }}
        {{ with  $page }}
          {{ if and (in site.Data.udstilling.painting .Params.id) (eq .Language.Lang "da") }}
            <tr>
              <td class="no">{{add $artifact 1 }}.</td>
              <td><i>{{ .Title }}</i></td>
              <td class="method">{{ .Params.method }}</td>
              <td class="dimension">{{ .Params.height }} x {{ .Params.width }} cm</td>
              <td class="year">{{ .Params.year }}</td>
              <td class="price">
                {{ if ne .Params.price "Privateje"}} {{ lang.FormatNumberCustom 0
                .Params.price "- , ." }} kr {{ else }} Privateje {{ end }}
              </td>
            </tr>
            {{ $artifact = add $artifact 1 }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if gt (len .drawing) 0 }}
      <tr><td colspan="3"><h2 style="padding-top: 15px;">Tegninger</h2></td></tr>
      {{ range $i, $page := where site.AllPages "Params.medie" "drawing" }}
        {{ with $page }}
          {{ if and (in site.Data.udstilling.drawing .Params.id) (eq .Language.Lang "da") }}
            <tr>
              <td class="no">{{add $artifact 1 }}.</td>
              <td><i>{{ .Title }}</i></td>
              <td class="method">{{ .Params.method }}</td>
              <td class="dimension">{{ .Params.height }} x {{ .Params.width }} cm</td>
              <td class="year">{{ .Params.year }}</td>
              <td class="price">
                {{ if ne .Params.price "Privateje"}} {{ lang.FormatNumberCustom 0
                .Params.price "- , ." }} kr {{ else }} Privateje {{ end }}
              </td>
            </tr>
            {{ $artifact = add $artifact 1 }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </table>
</div>
