
{{ define "main" }}

<p>template: art/list</p>
<p>type: {{ .Params.type }}</p>
<p>layout: {{ .Params.layout }}</p>


<p>Hello Art List </p>

{{ $artifacts := .Pages }}

<div class="container">

  <div class="galleri">

    {{ range $artifacts }}
    <div class="card artifact">
      <img src="https://dummyimage.com/300x200.jpg&text={{ replace .Title  ' ' '+' }}"/>
      <p><b>{{ .Title }}</b><br/><i>{{.Params.method}},
        {{ .Params.height }} X {{ .Params.width }} cm, {{ .Params.year }}</i></p>
      </div>
      {{ end }}
    </div>
</div>

{{ end }}
