
{{ define "main" }}

<div class="container">

  <h1>{{ .Title }}</h1>
  <div class="galleri">

    {{ range .Pages }}
    <div class="card artifact">
      {{ $image := .Resources.GetMatch .Params.fileName }}
      <a href="{{.Permalink}}"><img alt="{{.Title}}" loading="lazy"
           src="{{($image.Resize "288x webp").RelPermalink }}" />
      <p><strong>{{ .Title }}</strong><br/><i>{{.Params.method}},
      {{ .Params.height }} x {{ .Params.width }} cm, {{ .Params.year }}</i></p>

        <p class="price">
        {{ if ne .Params.price "Privateje"}}
        {{ lang.FormatNumberCustom 0 .Params.price "- , ." }} kr
        {{ else }}
        Privateje
        {{ end }}
        </p>
        {{/*
          <p>{{.Params.fileName}}</p>
          */}}
        </p>
       </a>
      </div>
      {{ end }}
    </div>
</div>

{{ end }}
