{{ define "main" }} {{ $image := $.Page.Resources.GetMatch .Params.fileName }}

<div class="container keep-on-page">
  <div class="row">
    <div class="col-12 imageBox">
      <div class="row arrowBox">
        <div class="col-2">
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink}}"
            ><img class="icon" src="/vendor/font-awesome/arrow-circle-left.svg"
          /></a>
          {{ end }}
        </div>
        <div class="col-8 text-center"></div>
        <div class="col-2 text-end">
          {{ if .PrevInSection }}
          <a href="{{.PrevInSection.Permalink}}"
            ><img
              class="icon"
              src="/vendor/font-awesome/arrow-circle-right.svg"
          /></a>
          {{ end }}
        </div>
      </div>
      {{/* <img alt="{{.Title}}" loading="lazy" src="{{($image.Resize "1008x
      webp").RelPermalink }}" /> */}}
      <img src="{{.Path }}/{{ $image }}" alt="{{.Title}}" />
    </div>
  </div>
</div>

{{ end }}
